<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item active">Products</li>
    </ol>
  </nav>
  <h1 class="mb-4">All Products</h1>
  <div class="row g-3">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6">
        <%= render 'product_card', product: product %>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= paginate @products %>
  </div>
</div>
